{% extends "base.html" %}

{% block body %}
<h1>Create Placement Drive</h1>
<a href="{{ url_for('company_dashboard') }}">Back to Dashboard</a>
<hr>

<form method="POST">
    <label>Job Title</label><br>
    <input type="text" name="job_title" required><br><br>

    <label>Description</label><br>
    <textarea name="description"></textarea><br><br>

    <label>Eligibility</label><br>
    <textarea name="eligibility"></textarea><br><br>

    <label>Package</label><br>
    <input type="text" name="package"><br><br>

    <label>Location</label><br>
    <input type="text" name="location"><br><br>

    <label>Deadline</label><br>
    <input type="text" name="deadline"><br><br>

    <button type="submit">Submit for Approval</button>
</form>

{% endblock body %}